* {
  box-sizing: border-box;
}

body {
  background-color: #6272a4;
}

.App {
  background-color: #282a36;
  min-height: 500px;
  width: 600px;
  margin: 5em auto;
  padding-bottom: 1em;
}

#todo-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#todo-form input {
  background-color: #f8f8f2;
  border: 0;
  padding: 0 1rem;
  height: 50px;
  margin: 2rem;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

#todo-form input::placeholder {
  color: #44475a;
}

#todo-form input:focus, #todo-form button:focus {
  outline: none;
}

#todo-form button {
  cursor: pointer;
  margin: 2rem 2rem 2rem 0;
  width: 6rem;
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 18px;
  border: 0;
  background-color: #ff79c6;
}